<section class="sectionLogin">
    <div class="containerFlexColumCenter">
        <img src="../../../assets/img/logo.png" alt="Logo">
        <h1>Colegio Medico Veterinario</h1>
    </div>

    <mat-card class="card-login">
        <mat-card-content>

            <h2>Porfavor ingrese su mail</h2>

            <mat-form-field class="login-full-width">
                <mat-label>Mail</mat-label>
        
                <input type="email" matInput [formControl]="userEmail" placeholder="example@example.com">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Ingrese el mail</mat-hint>
        
                <mat-error *ngIf="userEmail.hasError('email') && !userEmail.hasError('required')">
                    Porfavor ingrese un mail valido.
                </mat-error>
                <mat-error *ngIf="userEmail.hasError('required')">
                    El mail es <strong>requerido</strong>
                </mat-error>
               
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" style="margin:10px;" [routerLink]="['/login']">Volver</button>
                <button mat-raised-button color="primary" style="margin:10px;"[disabled]="userEmail.invalid" (click)="onReset()"> Cambiar contraseña</button>
            </div>

    </mat-card-content>
    </mat-card>

</section>