.sectionLogin{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  border-radius: 0.25rem;
  background: #ffffff70;
}
.material-icons{
  font-size: 21px !important;
}
.containerFlexColumCenter{
  width:100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 10px 40px;
  background:
  radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#dcbfff 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
  radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#dcbfff 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
  radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#dcbfff 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
  radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#dcbfff 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
  repeating-conic-gradient(#ffffff 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
  radial-gradient(#0000 66%,#dcbfff 68% 70%,#0000 72%) 0 calc(32px/2)/32px 32px
  #ffffff;

}
.containerFlexColumCenter img{
  width:150px;
  padding-right: 10px;
}
.containerFlexColumCenter h1{
  margin:0;
  font-weight: 900;
}
.containerInputs{
  width:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.containerInputs div button{
  width:350px;
  height:50px;
}
.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}
.card-login{
  padding: 1rem!important;
  box-shadow:none;
  background:none;
}
.forgot-password a{
  text-decoration: none;
  color: #7300ff;
}
:host ::ng-deep .custom-spinner circle{   
  stroke: #ffffff;
}
/*---------------------------MEDIA QUERIES---------------------------*/
@media only screen and (max-width: 1000px) {
  .sectionLogin{
    height:80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  .sectionLogin{
    height:80vh;
    width: 110vw;
  }
  .containerInputs div button{
    width:50vw;
    height:5vh;
  }
  .material-icons{
    font-size: 1rem !important;
  }
  .sectionLogin h2{
    font-size: 1.4rem;
  }
  .sectionLogin p{
    font-size: 0.7rem;
  }
  .containerFlexColumCenter img{
    width:100px;
  }
  .containerFlexColumCenter h1{
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 230px) {
}
