<div class="menu-container"  [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar class="toolbar">
    <img src="../../../assets/img/logo.png" alt="Logo">
    <span *ngIf="!mobileQuery.matches">Colegio Medico Veterinario</span>
    <span *ngIf="mobileQuery.matches">CMV</span>

    <button mat-icon-button (click)="OnToggleMenu()" matTooltip="Abrir menu" aria-label="abrir menu">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Mi perfil" (click)="viewPerfil()" class="icon favorite-icon" aria-label="Mi perfil">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button (click)="onLogout()" matTooltip="Cerrar sesion" aria-label="Cerrar sesion">
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="false" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    
    <mat-sidenav  class="mat-sidenav" #mySidenav [mode]="'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      
      <mat-nav-list class="mat-nav-list">
        <!-- Menu buttons -->
         <app-menu (closeSideNav)="closeMainMenu()"></app-menu>
      
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <!-- dashboars and tables -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
